body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  color: #ecf0f1;
}

.bloc {
  width: 100%;
  padding: 80px 40px;
}

.la-une {
  background-color: #1a2a3a;
}

.actus {
  background-color: #2c3e50;
}

.nouveautes {
  background-color: #34495e;
}

h2 {
  font-size: 2.5em;
  color: #00bfff;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
}
